# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode/**
build/tts-line/data/**
Makefile.option
internal/pkg/test/mocks/**
cmd/tts-line/__debug_bin
out.mp3
deploy/am-voc-wrapper/bin/am-voc-wrapper
cmd/acronyms/acronyms.txt
build/acronyms/Makefile.options
build/acronyms/data/**
cmd/acronyms/acronyms
examples/docker-compose/.mongo/**
examples/docker-compose/Makefile.options
examples/docker-compose/.env
cmd/clitics/phrases.txt
build/clitics/Makefile.options
build/clitics/data/**
deploy/am-voc-wrapper/bin/**
build/am-voc-wrapper/Makefile.options
examples/docker-compose/sample.json
deploy/am-voc-wrapper/Makefile.options
testing/integration/Makefile.options.local
examples/docker-compose/ml-tagger/
deploy/docker-compose/Makefile.options
deploy/docker-compose/.env
deploy/docker-compose/.data
