port: 8010
maxLogDataSize: 1500

debug:
    port: 8080
allowCustom: true
options:
  output:
    defaultFormat: mp3 
    metadata:
      - copyright=UAB Intelektika
      - description=encoded by UAB Intelektika
    defaultVoice: astra 
    voices: 
      - default:astra
      - astra:astra.v04
      - laimis:laimis.v02a1
      - vytautas:vytautas.v06b
      - lina:lina.v04b

mongo:
   url: 
   
clean:
  url: http://localhost:8011/clean   

numberReplace:
  url: http://localhost:8017/api/ 

tagger:
  url: https://sinteze.intelektika.lt/tagger/tag  

validator:
  maxChars: 10000 

acronyms:
  url: http://192.168.1.71:8210/abbreviations      

comparator:
  url: http://localhost:8014/resynthvalid      

accenter:
  url: http://192.168.1.71:7021/accent?human=true&roe=true

transcriber:
  url: http://192.168.1.71:7027/transcription?gem=gem1&joinatsi=true 

acousticModel:
  # url: http://semspch04.vdu.lt:8000/model
  # url: http://semspch04.vdu.lt:8006/synthesize
  url: http://localhost:8023/synthesize
  # url: http://18.184.111.46:8006/synthesize
  hasVocoder: true

vocoder:
  url: http://localhost:8001/model
  # url: http://semspch04.vdu.lt:8001/model    

audioConvert:
  url: http://localhost:8013/convert

clitics:
  url: http://localhost:8015/clitics 

filer:
  dir: /home/airenas/projects/tts-line

obscene:
  url: http://localhost:8016/obscene-filter    

transliterator:
  url: http://localhost:8022/transliterate    

cache:
  duration: 0s
  cleanDuration: 30s
  maxMB: 50
  maxTextLen: 80

splitter:
  maxChars: 200

partRunner:
  workers: 1  

suffixLoader:
  path: ./ 

