name: Snyk vulnerabilities Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  analyze:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: [tts-line, tts-text-clean, acronyms, clitics]
    steps:
      - uses: actions/checkout@v2

      - name: Build containers ${{ matrix.container }}
        run: make docker/${{ matrix.container }}/build version=latest acronyms_data_dir=../../testing/integration/data 
        env:
          ACRONYMS_SECRET: ${{ secrets.ACRONYMS_SECRET }}
          ACRONYMS_SECRET_FROM: ${{ secrets.ACRONYMS_SECRET_FROM }}
          CLITICS_SECRET: ${{ secrets.CLITICS_SECRET }}
          CLITICS_SECRET_FROM: ${{ secrets.CLITICS_SECRET_FROM }}
      - name: Run Snyk to check ${{ matrix.container }} Docker image for vulnerabilities
        continue-on-error: true
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: airenas/${{ matrix.container }}:latest
          args: --file=build/${{ matrix.container }}/Dockerfile

      - name: Make sarif file copy
        run: mv snyk.sarif snyk-${{ matrix.container }}.sarif

      - name: Upload snyk ${{ matrix.container }} result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-${{ matrix.container }}.sarif
          category: ${{ matrix.container }}-analysis
          